@media (min-width:992px){
  .modal-lg {width:940px !important;}
}

body{
  padding-top: 70px;
}

img.i {
  display: block;
  margin: 10px auto;
}

img.img-zoom{
  cursor: pointer;
}

div.service-alert{
  margin-top: 10px;
}

img#zoom_image{
  margin-bottom: 15px;
}


.link-domain a.link-domain:link a.link-domain:visited a.link-domain:hover a.link-domain:focus  {
	font-size: 1.4em;	
	color: #660066;
}
.link-host a.link-host:link a.link-host:visited a.link-host:hover a.link-host:focus  {
	font-size: 1.1em;
	color: #800080;
}
ul.groupview, ul.groupview ul {
	list-style-type: none;
}
.munin-icon {
   background: url(../img/logo-munin.png) left top; 
   margin-top: -6px;
   width: 35px; 
   height: 35px;
   display: block;
   float: left;
}

#category-period {
    padding-right: 4px;
    padding-left: 4px;
}

.tab-title {
    text-transform: capitalize;
}

.comparison {
    text-transform: capitalize;
}

.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
