ul, li{
	list-style-type: none;
}

.logo {
  display: block;
  float: left;
  background-image: url(munstrap.png);
  background-repeat: no-repeat;  
  width: 46px;
  height: 46px;
  padding-right: 6px;
  margin-top: -0.1em;
  padding-bottom: 0px;
}

ul.groupview li span.domain:before, #content ul li span.domain:before  {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
 content: "\e118";
 font-size: 1em; 
 padding-right: 1em;
}
ul.groupview li span.host:before, #content ul ul li span.host:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: "\e080";
  font-size: 1em; 
  padding-right: 1em;
}
