<TMPL_INCLUDE NAME="partial/head.tmpl">

    <div class="clearfix"></div>

    <TMPL_LOOP NAME="SERVICES">
      <!-- Alerts -->
      <TMPL_IF NAME="STATE_UNKNOWN">
          <div class="alert service-alert alert-info"><strong>Note:</strong> This service is in UNKNOWN state, because something bad happened.  Please check your network, the munin-node, and the plugin.</div>
      </TMPL_IF>
      <TMPL_IF NAME="STATE_CRITICAL">
        <div class="alert service-alert alert-danger"><strong>Note:</strong> This service is in CRITICAL state because one of the values reported is outside the allowed range. Please see further down for information about the ranges and the graph for the values.</div>
      </TMPL_IF>
      <TMPL_IF NAME="STATE_WARNING">
        <div class="alert service-alert alert-warning"><strong>Note:</strong> This service is in WARNING state because one of the values reported is outside the allowed range.  Please see further down for information about the ranges and the graph for the values.</div>
      </TMPL_IF>
      
      <div class="row">
        <div class="col-md-6">
          <img data-href="<TMPL_VAR NAME="ZOOMDAY">" src="<TMPL_VAR NAME="IMGDAY">" 
           alt="daily graph"
           class="img-responsive img-zoom i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/>
        </div>
        <div class="col-md-6">
          <img data-href="<TMPL_VAR NAME="ZOOMWEEK">" src="<TMPL_VAR NAME="IMGWEEK">" 
           alt="weekly graph" 
           class="img-responsive img-zoom i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img data-href="<TMPL_VAR NAME="ZOOMMONTH">" src="<TMPL_VAR NAME="IMGMONTH">" 
           alt="monthly graph" 
           class="img-responsive img-zoom i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGMONTHWIDTH">width="<TMPL_VAR NAME="IMGMONTHWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGMONTHHEIGHT">height="<TMPL_VAR NAME="IMGMONTHHEIGHT">"</TMPL_IF>/>
        </div>
        <div class="col-md-6">
          <img data-href="<TMPL_VAR NAME="ZOOMYEAR">" src="<TMPL_VAR NAME="IMGYEAR">" 
           alt="yearly graph" 
           class="img-responsive img-zoom i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGYEARWIDTH">width="<TMPL_VAR NAME="IMGYEARWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGYEARHEIGHT">height="<TMPL_VAR NAME="IMGYEARHEIGHT">"</TMPL_IF>/>
        </div>
      </div>
      
      <!-- .sum graphs.  One of the least used features of munin? -->
      <TMPL_IF NAME="IMGWEEKSUM">
        <div class="row">
          <div class="col-md-6">
            <img src="<TMPL_VAR NAME="IMGWEEKSUM">" 
             alt="summed weekly graph" 
             <TMPL_IF NAME="IMGWEEKSUMWIDTH">width="<TMPL_VAR NAME="IMGWEEKSUMWIDTH">" </TMPL_IF> 
             <TMPL_IF NAME="IMGWEEKSUMHEIGHT">height="<TMPL_VAR NAME="IMGWEEKSUMHEIGHT">"</TMPL_IF>/>
          </div>
          <div class="col-md-6">
            <img src="<TMPL_VAR NAME="IMGWEEKSUM">" 
             alt="summed weekly graph" 
             <TMPL_IF NAME="IMGWEEKSUMWIDTH">width="<TMPL_VAR NAME="IMGWEEKSUMWIDTH">" </TMPL_IF> 
             <TMPL_IF NAME="IMGWEEKSUMHEIGHT">height="<TMPL_VAR NAME="IMGWEEKSUMHEIGHT">"</TMPL_IF>/>
          </div>
        </div>
      </TMPL_IF>
      
      <h2><small>Graph information</small></h2>
      
      <TMPL_LOOP NAME="GRAPHINFO">
        <p class="text-muted"><TMPL_VAR NAME="INFO"></p>
      </TMPL_LOOP>
      
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="col-md-2">Field</th>
            <th class="col-md-2">Internal name</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-1">Warning</th>
            <th class="col-md-1">Critical</th>
            <th class="col-md-5">Info</th>
          </tr>
        </thead>
        <tbody>
          <TMPL_LOOP NAME="FIELDINFO">
             <tr<TMPL_IF NAME="STATE_CRITICAL"> class="danger"<TMPL_ELSE><TMPL_IF NAME="STATE_WARNING"> class="warning"</TMPL_IF></TMPL_IF>>
               <td><TMPL_VAR ESCAPE="HTML" NAME="LABEL"></td>
               <td><TMPL_VAR ESCAPE="HTML" NAME="FIELD"></td>
               <td><TMPL_VAR NAME="TYPE"></td>
               <td class="text-warning"><TMPL_VAR NAME="WARN"></td>
               <td class="text-danger"><TMPL_VAR NAME="CRIT"></td>
               <td class="text-muted"><TMPL_VAR ESCAPE="HTML" NAME="INFO"></td>
             </tr>
             <TMPL_IF NAME="EXTINFO">
               <tr>
                 <td class='wrap' colspan="6" align='left' valign='top'>
                  This field has the following extra information: <TMPL_VAR ESCAPE="HTML" NAME="EXTINFO">
                 </td>
               </tr>
             </TMPL_IF>
          </TMPL_LOOP>
        </tbody>
      </table>
    </TMPL_LOOP>
    
<TMPL_INCLUDE NAME="partial/zoom.tmpl">
<TMPL_INCLUDE NAME="partial/footer.tmpl">
  
