<TMPL_INCLUDE NAME="partial/head.tmpl">

    <h2>Service graphs</h2>
    
    <!-- Alerts -->
    <TMPL_IF NAME="STATE_UNKNOWN">
      <div class="alert alert-info"><strong>Note:</strong> This service is in UNKNOWN state, because something bad happened.  Please check your network, the munin-node, and the plugin.</div>
    </TMPL_IF>
    <TMPL_IF NAME="STATE_CRITICAL">
      <div class="alert alert-danger"><strong>Note:</strong> This service is in CRITICAL state because one of the values reported is outside the allowed range. Please see further down for information about the ranges and the graph for the values.</div>
    </TMPL_IF>
    <TMPL_IF NAME="STATE_WARNING">
      <div class="alert alert-warning"><strong>Note:</strong> This service is in WARNING state because one of the values reported is outside the allowed range.  Please see further down for information about the ranges and the graph for the values.</div>
    </TMPL_IF>
    
    <TMPL_LOOP NAME="SERVICES">
      <div class="row">
        <div class="col-md-6">
          <img src="<TMPL_VAR NAME="IMGDAY">" 
           alt="daily graph"
           class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGDAYWIDTH">width="<TMPL_VAR NAME="IMGDAYWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGDAYHEIGHT">height="<TMPL_VAR NAME="IMGDAYHEIGHT">"</TMPL_IF>/>
        </div>
        <div class="col-md-6">
          <img src="<TMPL_VAR NAME="IMGWEEK">" 
           alt="weekly graph" 
           class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGWEEKWIDTH">width="<TMPL_VAR NAME="IMGWEEKWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGWEEKHEIGHT">height="<TMPL_VAR NAME="IMGWEEKHEIGHT">"</TMPL_IF>/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="<TMPL_VAR NAME="IMGMONTH">" 
           alt="monthly graph" 
           class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGMONTHWIDTH">width="<TMPL_VAR NAME="IMGMONTHWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGMONTHHEIGHT">height="<TMPL_VAR NAME="IMGMONTHHEIGHT">"</TMPL_IF>/>
        </div>
        <div class="col-md-6">
          <img src="<TMPL_VAR NAME="IMGYEAR">" 
           alt="yearly graph" 
           class="img-responsive i<TMPL_IF NAME="STATE_WARNING"> warn</TMPL_IF><TMPL_IF NAME="STATE_CRITICAL"> crit</TMPL_IF>"
           <TMPL_IF NAME="IMGYEARWIDTH">width="<TMPL_VAR NAME="IMGYEARWIDTH">" </TMPL_IF> 
           <TMPL_IF NAME="IMGYEARHEIGHT">height="<TMPL_VAR NAME="IMGYEARHEIGHT">"</TMPL_IF>/>
        </div>
      </div>
      
      <!-- .sum graphs.  One of the least used features of munin? -->
      <TMPL_IF NAME="IMGWEEKSUM">
        <div class="row">
          <div class="col-md-6">
            <img src="<TMPL_VAR NAME="IMGWEEKSUM">" 
             alt="summed weekly graph" 
             <TMPL_IF NAME="IMGWEEKSUMWIDTH">width="<TMPL_VAR NAME="IMGWEEKSUMWIDTH">" </TMPL_IF> 
             <TMPL_IF NAME="IMGWEEKSUMHEIGHT">height="<TMPL_VAR NAME="IMGWEEKSUMHEIGHT">"</TMPL_IF>/>
          </div>
          <div class="col-md-6">
            <img src="<TMPL_VAR NAME="IMGWEEKSUM">" 
             alt="summed weekly graph" 
             <TMPL_IF NAME="IMGWEEKSUMWIDTH">width="<TMPL_VAR NAME="IMGWEEKSUMWIDTH">" </TMPL_IF> 
             <TMPL_IF NAME="IMGWEEKSUMHEIGHT">height="<TMPL_VAR NAME="IMGWEEKSUMHEIGHT">"</TMPL_IF>/>
          </div>
        </div>
      </TMPL_IF>
    </TMPL_LOOP>

<TMPL_INCLUDE NAME="partial/footer.tmpl">
  
