<div id="zoom" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      
        <div class="row">
          <div class="col-md-12">
            <img id="zoom_image" class="img-responsive"/>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" name="zoom_form" id="zoom_form">
                  <input type="hidden" class="form-control" name="plugin_name" id="plugin_name">
                  <input type="hidden" class="form-control" name="start_iso8601" id="start_iso8601">
                  <input type="hidden" class="form-control" name="stop_iso8601" id="stop_iso8601">
                  <input type="hidden" class="form-control" name="start_epoch" id="start_epoch">
                  <input type="hidden" class="form-control" name="stop_epoch" id="stop_epoch">
                  <input type="hidden" class="form-control" name="lower_limit" id="lower_limit">
                  <input type="hidden" class="form-control" name="upper_limit" id="upper_limit">
                  <input type="hidden" class="form-control" name="size_x" id="size_x">
                  <input type="hidden" class="form-control" name="size_y" id="size_y">
                  <input type=hidden name="cgiurl_graph"/>
                  <button type="button" class="btn btn-warning" name="btnReset">Reset</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info">
                <p>Zooming is very easy, it's done in 2 clicks (regular clicks, no drag&amp;drop):</p>
                <ol>
                  <li>Click to define the start of zoom.</li>
                  <li>Click to define the ending of zoom.</li>
                </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="<TMPL_VAR NAME="R_PATH">/static/js/formatdate.js"></script>
<script src="<TMPL_VAR NAME="R_PATH">/static/js/querystring.js"></script>
<script src="<TMPL_VAR NAME="R_PATH">/static/js/dynazoom.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  //Zoom modal opening
  $('.img-zoom').click(function(){
    popupGraph($(this));
  });
});
</script>